pipeline/APIGET.json
{
	"name": "APIGET",
	"properties": {
		"activities": [
			{
				"name": "APIGetUsers",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-api-key": "reqres-free-v1"
					},
					"url": "https://reqres.in/api/users?page=1"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "APIGetUsers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,activity('APIGetUsers').output.total_pages)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "ID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['email']"
											},
											"sink": {
												"name": "Email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['first_name']"
											},
											"sink": {
												"name": "First_Name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['last_name']"
											},
											"sink": {
												"name": "Last_Name",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['data']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "RestAPIGetUsers",
									"type": "DatasetReference",
									"parameters": {
										"pageNo": {
											"value": "?page=@{item()}",
											"type": "Expression"
										},
										"relativeURL": "users?page=@{item()}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQLDB",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "users"
									}
								}
							]
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ErrorLog",
								"value": "@concat('Page ', string(item()), ' failed. Error: ', activity('Copy data1').error.message)"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"page": {
				"type": "int"
			}
		},
		"variables": {
			"ErrorLog": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}